/* Color palette */
:root {
  --black: #0e050f;
  --dark-blue: #170b3b;
  --purple: #341948;
  --purple-haze: #9388a2;
}

hr {
  border: 0;
  height: 1px;
  background: var(--purple-haze);
}

body {
  background-color: var(--purple-haze);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox div{
  margin: 0 10px;
  display: block;
}

header {
  background-color: var(--dark-blue);
  color: var(--purple-haze);
  text-align: center;
  font-size: 25px;
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  height: 70px;
  box-shadow: 0px 1px 20px #000;
}

a {
  color: var(--purple-haze);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav section {
  color: var(--dark-blue);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav section a {
  margin: 0 5px;
  padding: 15px;
  border-radius: 25px;
  transition: 0.5s;
}

nav section a:hover {
  background-color: var(--purple);
  color: var(--purple-haze);
}

#logo img {
  border-radius: 100%;
  background-color: var(--dark-blue);
  width: 4rem;
}

#logo:hover {
  background-color: transparent;
}

#cad {
  background-color: var(--purple);
}

#cad:hover {
  background-color: var(--dark-blue);
}

.login {
  background-color: var(--dark-blue);
  border-radius: 5px;
  padding: 5px;
  right: 30px;
  position: absolute;
}

.banner {
  background-color: var(--dark-blue);
  color: var(--purple-haze);
  padding: 30px;
  text-align: center;
  font-size: 25px;
  width: 75%;
  display: flex;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 20px;
}

.banner .content {
  flex: 1;
  text-align: left;
}

.banner .image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner h1,
.banner p {
  margin-bottom: 20px;
}

.banner .buttons {
  display: flex;
  justify-content: center;
}

.banner a {
  background-color: var(--purple);
  color: var(--purple-haze);
  transition: 0.5s;
  padding: 15px;
  border-radius: 25px;
  margin: 0 10px;
}

.banner a:hover {
  background-color: var(--dark-blue);
}

.banner img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

section.feature1,
section.feature2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

section.feature1 .image {
  order: -1;
}

section.feature2 .image {
  order: 1;
}

.content {
  text-align: justify;
}

th{
  border-bottom: var(--purple) solid 2px;
}

.planos{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.two-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  background-color: var(--dark-blue);
  color: var(--purple-haze);
  border-radius: 25px;
}

.two-columns a {
  background-color: var(--purple);
  color: var(--purple-haze);
  transition: 0.5s;
  padding: 15px;
  border-radius: 25px;
  margin: 0 10px;
}

.two-columns a:hover {
  background-color: var(--dark-blue);
}

.two-columns .column {
  flex: 1;
  padding: 30px;
}

.reviews {
  padding: 30px;
  text-align: center;
  font-size: 25px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 20px;
  align-items: flex-start;
}

.reviews h2 {
  margin-bottom: 20px;
}

.reviews .revtit {
  margin-bottom: 20px;
}

.revtit{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.review {
  background-color: var(--dark-blue);
  color: var(--purple-haze);
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 10px;
  width: calc(30% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewtit {
  text-align: center;
  margin: 0 auto;
  width: 30%
}

.review p {
  margin: 10px 0;
}

.bottom {
  background-color: var(--dark-blue);
  color: var(--purple-haze);
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  width: 100%;
  bottom: 0px;
  margin-top: 20px;
}

#planos{
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

#planos section{
  background-color: var(--dark-blue);
  color: var(--purple-haze);
  padding: 30px;
  padding-top: 10px;
  margin: 5px;
  border-radius: 30px;
}

#planos section a{
  background-color: var(--purple);
  color: var(--purple-haze);
  transition: 0.5s;
  padding: 10px;
  border-radius: 25px;
  margin: 0 10px;
  margin-top: 10px;
}

#planos section a:hover{
  background-color: var(--dark-blue);
}

#planos section table{
  width: 100%;
  margin-bottom: 15px;
}

#avatar {
  border-radius: 100%;
  width: 4rem;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.socials a {
  color: var(--purple-haze);
  margin: 0 5px;
  font-size: 20px;
}

.feature1 .content a, .feature2 .content a {
  background-color: var(--purple);
  color: var(--purple-haze);
  transition: 0.5s;
  padding: 15px;
  border-radius: 25px;
  margin: 0 10px;
  font-weight: bold
}

.feature1 .content a:hover, .feature2 .content a:hover {
  background-color: var(--purple-haze);
  color: var(--purple);
}

footer.bottom {
  background-color: var(--dark-blue);
  color: var(--purple-haze);
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

form input, form textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--purple-haze);
  color: var(--dark-blue);
  transition: 0.5s
}

form input:hover, form textarea:hover {
  background-color: var(--purple);
  color: var(--purple-haze);
}

button {
  background-color: var(--purple);
  color: var(--purple-haze);
  transition: 0.5s;
  padding: 15px;
  border-radius: 25px;
  margin: 0 10px;
  font-weight: bold;
  border: none;
  width: 100%;
}

button:hover {
  background-color: var(--purple-haze);
  color: var(--purple);
}